<center>
 <br>
 <br>
<h1  >Welcome to GenConnect</h1>

 <br>
 <br>

</center
<div></div>

<div class="card-deck">
  <div class="card">
    <img src="https://pixnio.com/free-images/2021/02/17/2021-02-17-10-36-18-1800x1200.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Genuine Connections</h5>
      <p class="card-text"> We lead with user bios, so you're able to learn about a person before deciding if you'd like to see their photos</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://pixnio.com/free-images/2020/12/29/2020-12-29-11-23-57-1500x1000.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">More Dates</h5>
      <p class="card-text">We work with local restaurants to help facilitate deals on dates for your matches</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://pixnio.com/free-images/2020/12/23/2020-12-23-13-05-18-1500x1000.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Less Stress</h5>
      <p class="card-text">Our platform is designed to help you express your full self, because we believe our users are so much more than just their photos</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<body style="margin:100;padding:50">

<center>

 <br>
 <br>


    <h4> Ready to get started? <%= link_to "Sign up here", new_user_registration_path %> </h4>


</center>

</body>
